
<footer class="secondary-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-push-4 text-center"> 
            <div class="footer_logo">
              <h3><a href="main"><span>Dream</span>Team</a></h3>
          </div>
        </div>
        <div class="col-md-4 col-md-push-4">
          <ul class="social_links">
            <li><a href="https://www.facebook.com/dreamteamafricaparis"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/foire_dafrique"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/company/dream-team-africa-paris"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/foiredafriqueparis"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4 col-md-pull-8">
          <p>&copy; Copyright © 2023 - <a href="">DreamTeam</a> - Tous droits reservés.</p>
        </div>
      </div>
    </div>
  </footer>