{% load static %}

<header id="header" class="transparent">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2">
          <div class="logo"> 
              <h3><a href="main"><span>Dream</span>Team</a></h3>
          </div>
        </div>
        <div class="col-sm-9 col-md-10"> 
          
          <!-- Navigation -->
          <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
              <li><a href="{% url "vitrineApp:index" %}" class="js-target-scroll">Accueil</a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Evènements </a>
                <ul class="dropdown-menu"> 
                  <li><a class="js-target-scroll" href="{% url "vitrineApp:mna" %}">Marché de Noël</a></li>
                  <li><a class="js-target-scroll" href="{% url "vitrineApp:juste" %}">Juste Une Danse</a></li> 
                  <li><a class="js-target-scroll" href="{% url "vitrineApp:afc" %}">Fashion Cook</a></li>
                  <li><a class="js-target-scroll" href="{% url "vitrineApp:fwa" %}">Fashion Week</a></li>
                  <li><a class="js-target-scroll" href="{% url "vitrineApp:fica" %}">Cinéma Africain</a></li>
                </ul>
              </li>
              <li><a href="{% url "boutiqueApp:main" %}" class="js-target-scroll">Boutique</a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Billetterie </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "vitrineApp:fica" %}" class="js-target-scroll">Billetterie Visiteur</a></li>
                  <li><a href="{% url "vitrineApp:stand" %}" class="js-target-scroll">Billetterie Exposant</a></li>
                  </ul>
              </li>
              <li><a href="faq" class="js-target-scroll">FAQ</a></li>
              <li><a href="contact" class="js-target-scroll">Contact</a></li>
              </ul>
          </div>
        </nav>
        <!-- Navigation end --> 
        </div>
      </div>
    </div>
  </header>

