
    <meta name="google-site-verification" content="30bJYU8Lq250ldJOrKiEOQnxeOemVm6ga2PWH6pokXo" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vivez la Culture africaine à Paris | Dream Team Africa</title>

    <link rel=”canonical” href=”main” />
    <meta name=description
        content="Le beurre de karité offre de nombreux avantages pour la peau des femmes 
        enceintes. Retrouver tous nos produits naturels bio à la Foire d'Afrique Paris !">
    <meta name="keywords" content="foire d'afrique paris">
    <meta property="og:title" content="foire d'afrique paris" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="main" />
    <meta property="og:image" content="https://foiredafrique.fr/assets/img/foire-d-afrique.jpg" />
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
