{% extends 'base/adminBase.html' %}
{% load myfilters %}
{% load static %}


{% block "content" %}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="active">Tableau de bord</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Tableau de bord <small>DreamTeam</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon"><i class="fa fa-bank"></i></div>
                <div class="stats-info">
                    <h4 class="text-uppercase">Evenements</h4>
                    <p>{{events|length|start0}}</p>	
                </div>
                <div class="stats-link">
                    <a href="{% url 'adminApp:events' %}">Plus de détails <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-cubes"></i></div>
                <div class="stats-info">
                    <h4 class="text-uppercase">Produits dans la boutique</h4>
                    <p>{{produits|length|start0}}</p>	
                </div>
                <div class="stats-link">
                    <a href="{% url 'adminApp:produits'  %}">Plus de détails <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div> 
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4 class="text-uppercase">Articles de blog</h4>
                    <p>{{articles|length|start0}}</p>	
                </div>
                <div class="stats-link">
                    <a href="{% url 'adminApp:blogs' %}">Plus de détails <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-red">
                <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                <div class="stats-info">
                    <h4 class="text-uppercase">Reservations Stand</h4>
                    <p>{{stands|length|start0}}</p>	
                </div>
                <div class="stats-link">
                    <a href="{% url 'adminApp:reservation_stands' %}">Plus de détails <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    

</div>


{% endblock "content" %}


{% block "scriptjs" %}
    <script>
        $(document).ready(function() {
            DashboardV2.init();
        });
    </script>
{% endblock "scriptjs" %}