{% extends 'base/vitrineBase.html' %}
{% load static %}


{% block body %}

<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
              <h1>Notre boutique</h1>
              <p>Visitez notre boutique, et repartez avec de nombreux souvenirs</p>
              </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 


  
<!-- Blog -->
<section id="blog" class="section-padding">
  <div class="container">
    <div class="row produits">

      {% for produit in produits %}
      <div class="col-md-3 col-sm-6 p-lg-3">
         <div class="blog_wrap">
	      	<div class="blog_img margin-btm-20">
              <a href="{% url "boutiqueApp:produit" produit.id %}"><img src="{{produit.image1.url}}" style="height:200px;" alt="image"></a>
          </div>
    	    <div class="blog_meta">
                <p>{{produit.price}} €</p>
            </div>
        	<h6 style="margin-bottom: 0;" ><a style="color: black" href="{% url "boutiqueApp:produit" produit.id %}">{{produit.name|truncatewords:10}}</a></h6>
	        <div style="height: 100px; margin: 0;">
            <p >{{produit.description|truncatewords:18}}.</p>
          </div>
         </div>

         <div class="contact-btn-m text-center">
            <a href="{% url "boutiqueApp:produit" produit.id %}" class="btn btn-md btn-block"  >Voir le produit</a>
            {% comment %} <a href="{% url "boutiqueApp:produit" produit.id %}" class="btn btn-md" id="{{produit.id}}" onclick="ajouter('{{produit.id}}')" > Ajouter au panier</a> {% endcomment %}
        </div>
     
      </div><br>
      {% endfor %}

    </div>
  </div>
</section>
<!-- /Blog -->

<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Fashion Week Africa</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris
              </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 
 
{% endblock body %} 



{% block scriptjs %}
  <script>
    {% include "./produit.js" %}
  </script>
{% endblock scriptjs %}


