{% extends 'base/vitrineBase.html' %}
{% load static %}


{% block body %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
              <h1>La boutique</h1>
			  <h3 style="color: orangered;">{{produit.name}}</h3>
              </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 


  
<!-- Blog -->
<section id="blog" class="section-padding">
  <div class="container">
    <div class="row">

		<div class="col-md-6 col-sm-8">
			<div class="blog_wrap">
				<div class="blog_img margin-btm-20">
					<img src="{{produit.image1.url}}" style="width: 100%;" alt="image">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="blog_wrap">
						<div class="blog_img margin-btm-20">
							<img src="{{produit.image2.url}}" style="width: 100%;" alt="image">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="blog_wrap">
						<div class="blog_img margin-btm-20">
							<img src="{{produit.image3.url}}" style="width: 100%;" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		 <div class="col-md-6 col-sm-4">
			<div class="blog_meta about-m-content">
				<h4>{{produit.name}}</h4>
				<h6 style="line-height: 30px; font-weight: w200;">{{produit.description|truncatewords:110}}</h6>
				<br><br>
				<div class="row">
					<div class="col-4">
						<h4>{{produit.price}} €</h4>
					</div>
					<div class="col-8">
						<button class="btn btn-sm" onclick="remove('{{produit.id}}')" type="button"><i class="fa fa-minus"></i></button>
						<input class="text-center" style="width:  100px; height: 55px; font-size: 25px; font-weight: bold; margin: auto 3%" type="number" id="{{produit.id}}" name="quantite" min="1" value="1" >
						<button class="btn btn-sm" onclick="add('{{produit.id}}')" type="button"><i class="fa fa-add"></i></button>
					</div>
				</div>
			</div>
			<br><br><br>
			<div class="contact-btn-m text-left">
			   <button class="btn btn-md" type="submit"><i class="fa fa-cart"></i> Ajouter au panier</button>
		   </div>
		 </div>

	</div>
	
	<br><br><br>

	<ul class="nav nav-tabs">
		<li class="nav-item">
		  <a class="nav-link active" data-toggle="tab" href="#infos">Plus d'infos</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-toggle="tab" href="#recettes">Recettes</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-toggle="tab" href="#avis">Avis de Clients</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-toggle="tab" href="#faq">FAQ</a>
		</li>
	</ul>
	  
	  <!-- Tab panes -->
	<div class="tab-content" style="background-color: white; color:black">
		<div class="tab-pane container active" id="infos">
			{% autoescape off %}
				{{produit.infos}}
			{% endautoescape %}
		</div>
		<div class="tab-pane container fade" id="recettes">
			{% autoescape off %}
				{{produit.recettes}}
			{% endautoescape %}
		</div>
		<div class="tab-pane container fade" id="avis">
			{% autoescape off %}
				{{produit.avis}}
			{% endautoescape %}
		<div class="tab-pane container fade" id="faq">
			{% autoescape off %}
				{{produit.faq}}
			{% endautoescape %}
		</div>
	</div>


	<br><br><br><hr><br><br><br>
	<div class="row">
		{% for produit in produits %}
			<div class="col-md-3 col-sm-4">
				<div class="blog_wrap">
					<div class="blog_img margin-btm-20">
					<a href="{% url "boutiqueApp:produit" produit.id %}"><img src="{{produit.image1.url}}" style="height:200px;" alt="image"></a>
				</div>
					<div class="blog_meta">
						<p>{{produit.price}} €</p>
					</div>
					<h5><a href="{% url "boutiqueApp:produit" produit.id %}">{{produit.name}}</a></h5>
					<p >{{produit.description|truncatewords:15}}</p>
				</div>
				<div class="contact-btn-m text-center">
					<button class="btn btn-md" name="submit"  type="submit"> Ajouter au panier</button>
				</div>
			</div>
		{% endfor %}
    </div>
  </div>
</section>
<!-- /Blog -->

<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Fashion Week Africa</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 
 

<script>
	{% include "./produit.js" %}
</script>


{% endblock body %} 





