{% load i18n %}
{% load static %}

<!DOCTYPE HTML>
<html lang="fr">
<head>
    {% include "../partials/meta.html" %}
    {% include "../partials/import_css.html" %}
</head>
<body id="home">
    
    <!--Header-->
    {% include "../partials/header.html" %}

<!-- /Header --> 

        {% block body %}


        {% endblock body %} 

 <!--Footer-->
{% include "../partials/footer.html" %}
  <!--/footer--> 
  <!--Back to top-->
  <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
  <!--/Back to top--> 
  


  {% include "../partials/import_js.html" %}


  {% include "partials/payments_meta.html" %}
 
</body>
</html>