{% extends 'base/vitrineBase.html' %}
{% load static %}
{% block "title" %}African Fashion Cook | Dream Team Africa{% endblock "title" %}

{% block body %}

<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
              <h1>Festival African Fashion Cook Paris <br>03, 04 Août 2024</h1>
              <p>10 rue des terres au Curé Paris France</p>
              <p>11H00 - 18H00</p>
              <P>Info exposants <br> (+33) 7 82 80 18 52 <br> 
                services@dreamteamafrica.com</P>
              <p>Venez nombreux même en famille, assister et participer à la 
                    transmission de la culture africaine aux plus jeunes publics ! 
              </p>
              
                <a href="https://foiredafrique.fr/assets/images/marche-de-noel-Afrique-paris.pdf" class="btn margin-btm-20">Télécharger le flyer</a>
              </div>
            
          </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-4">
          <div class="banner-form">
            <h5 class="text-center">Réservez votre place</h5>
            <!--Registration Form-->
              <form method="POST" class="formShamman" classname="ParticipationForm">
                  {% csrf_token %}
                  <div class="form-group">
                    <input class="form-control" name="fullname" id="fullname" placeholder="Nom et prénoms" required type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="email"  placeholder="Adresse email" required type="email">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="contact" placeholder="Numero de téléphone" required type="text">
                  </div>               
                  <div class="form-group select">
                    <select name="evenement" class="form-control" required="">
                      <option value="">Quel evenement vous interesse ?</option>
                      {% for event in events %}
                        <option value="{{event.id}}">{{event.name}} ({{event.price}}) €</option>
                      {% endfor %}
                    </select>
                  </div><br>
                 
                  <div class="contact-btn-m text-center">
                      <button class="btn btn-block">
                        <span id="button-text">Réservez maintenant !</span>
                      </button>
                  </div>
               
              </form>
            <!--/Registration Form--> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 

<!--Timer Countdown-->
<section id="timer_countdown" class="vc_row">
  <div class="col-sm-6 col-md-6  primary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <h5>Festival African Fashion Cook Paris</h5>
      <p class="conference_date">02, 03, 04 Août 2024<br> Paris - France</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 secondary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <div class="timer">
        <h5>Festival African Fashion Cook Paris</h5>
        <p>Réservez votre place maintenant</p>
        <div class="countdown styled"></div>
      </div>
    </div>
  </div>
</section>
<!--/Time Countdown--> 

<!--  About Section -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Festival African Fashion Cook à Paris : L'Épicentre de la Mode et de la Gastronomie Africaine</h2>
            <p>
              Où le Style Africain Rencontre les Saveurs Authentiques en plein cœur de Paris !
            </p>
          </div>
        </div>
      </div>
      <!-- /Heading --> 
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="about-m-content">
          <h5>Fusion de la Mode et de la Gastronomie</h5>
          <p style="text-align: justify;">
            
            Le "Festival African Fashion Cook" à Paris est une célébration 
            unique qui met en avant la richesse de la culture africaine à 
            travers deux de ses aspects les plus appréciés : la mode et la cuisine.
             Cet événement offre une plateforme aux designers africains pour présenter 
             leurs créations innovantes, tout en permettant aux chefs culinaires de dévoiler
              les saveurs alléchantes de la cuisine africaine.
          </p>
          <h5>Un Carrefour Culturel en Plein Paris</h5>
          <p style="text-align: justify;">
            Situé au cœur de Paris, ce festival attire non seulement la diaspora africaine 
            mais aussi les amoureux de la culture du monde entier. Il représente une 
            opportunité pour les participants d'explorer les diversités et les similitudes 
            entre les différentes régions d'Afrique, tout en se plongeant dans une ambiance 
            festive imprégnée de musique, de danse et d'art.
          </p>
          <h5>Vers un Avenir Prometteur</h5>
          <p style="text-align: justify;">
            Avec chaque édition, le "Festival African Fashion Cook" gagne en popularité et 
            s'établit comme un événement incontournable dans le calendrier culturel parisien. 
            Les organisateurs espèrent que ce festival continuera à renforcer les liens entre 
            l'Afrique et le reste du monde, tout en mettant en lumière les talents émergents du 
            continent africain.
          </p>
          <h4>6 Raisons Incontournables pour Assister au festival african fashion cuisinier à Paris</h4>
          <ul class="list_style_none">
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Célébration de la Culture Africaine</strong> : Le 
              festival est une occasion unique de découvrir et d'apprécier la richesse de la culture africaine, 
              à travers des défilés de mode et des dégustations culinaires.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Localisation Stratégique</strong> : Situé au cœur 
              de Paris, le festival est facilement accessible, ce qui le rend aussi bien pour les locaux que 
              pour les touristes.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Découverte de Nouveaux Talents</strong> : C'est 
              l'opportunité de rencontrer des designers africains émergents et de déguster des plats préparés
               par des chefs renommés.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Rencontres et Échanges</strong> : Le festival 
              offre un espace pour échanger avec des passionnés venus des quatre coins du monde, favorisant 
              ainsi le partage culturel et la découverte mutuelle.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Ambiance Festive</strong> : En plus de 
              la mode et de la gastronomie, attendez-vous à des performances musicales, des danses et des arts
               vivants qui suscitent la joie de vivre africaine.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Éducation et Sensibilisation </strong>: C'est 
              également une occasion d'en apprendre davantage sur les différentes régions d'Afrique, leurs 
              traditions, leurs coutumes et leurs contributions à la mode et à la cuisine mondiale.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-1.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-2.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-3.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-4.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-5.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-6.png" alt="image"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / About Section --> 

<!--  Conference info -->
<section class="our-conference section-padding parallex-bg">
  <div class="container">
    <div class="row">
      <div class="conference-m-box div_zindex">
        <div class="conf-icon-m">
		<div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-microphone"></i> <span class="summary">24 Prestations</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-ticket"></i> <span class="summary">+2800 Visiteurs</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-flag"></i> <span class="summary">+120 Eposants</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-calendar-check-o"></i> <span class="summary">2 Jours folles</span> </div>
          </div>
        </div>
		</div>
        <div class="resever-today text-center">
          <h2>Réservez votre place maintenant</h2>
          <a href="#home" class="btn btn-lg js-target-scroll">Booking Now</a> </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- / Conference info --> 

<!--Conference Gallery-->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-sec clearfix">
          <div class="section-header text-center">
            <h2>Des années d'expériences</h2>
            <p>Réservez dès maintenant vos billets pour participer à la plus belle 
              rencontre des artisans de la diversité !</p>
          </div>
        </div>
      </div>
    </div>
    
 <!-- Event Gallery -->
 <div class="trigger section gutter-horizontal bg-gray gutter-vertical--m gutter-horizontal">
  <div class="customer-logos slider">
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
    
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-9.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-12.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-13.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-16.png' %}">
  </div>
  </div>
</div>
  <!-- /Event Gallery --> 
  
    
  </div>
</section>
<!--/Conference Gallery--> 

<!--Conference Pricing-->
<section id="pricing" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Tarifs exposants</h2>
              <p>Réservez vos stands</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="event_priceing">
            <div class="plan_name">
              <h6>Pack Artisans</h6>
            </div>
            <div class="plan_price">
              <p>200 €/J</p>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Café</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 badges exposants</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 chaises</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>1 Table (1,50 x 0,60)</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>Kit exposant 2 m2</li>
            </ul>
            <a href="#home" class="btn btn-block js-target-scroll">Prendre RDV</a> </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="event_priceing">
            <div class="plan_name">
              <h6>Pack Restauration</h6>
            </div>
            <div class="plan_price">
              <p>300€/J</p>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Café ou Thé</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 badges exposants</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 chaises</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>1 Table (2,50 x 0,80)</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>Kit exposant 6 m2</li>
            </ul>
            <a href="#home" class="btn btn-block js-target-scroll">Prendre RDV</a> </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="event_priceing">
            <div class="plan_name">
              <h6>Partenariat</h6>
            </div>
            <div class="plan_price">
              <p>Nous contacter</p>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
            </ul>
            <a href="#home" class="btn btn-block js-target-scroll">Prendre RDV</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Pricing--> 

<!--Conference Testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Ce qu'ils disent de nous !</h2>
            <p>Leurs Avis !</p>
          </div>
        </div>
      </div>
      <!-- /Heading -->
      
      <section class="testimonial-section">
		<div class="testimonials">
		  <div class="testimonial">
      <h2>Une expérience inoubliable !</h2>
			<p>"J'ai été éblouie par la richesse de la culture africaine au festival. 
         Les défilés de mode étaient à couper le souffle, et la cuisine m'a transportée directement 
         en Afrique. Un événement à ne pas manquer !"
      </p>
			<div class="details">
			<span class="author">Fatou</span>
			</div>
		  </div>
      <div class="testimonial">
        <h2>Un rendez-vous à ne pas manquer !</h2>
			<p>"Chaque année, je me fais un plaisir de redécouvrir la Foire 
        d'Afrique. Les exposants sont passionnés et la qualité des 
        produits est au rendez-vous. Une belle occasion de soutenir 
        l'artisanat africain tout en faisant de magnifiques découvertes."
      </p>
			<div class="details">
			<span class="author">Achi</span>
			</div>
		  </div>
		  <div class="testimonial">
        <h2>Un voyage culturel en plein Paris !</h2>
			<p>"Participer au festival m'a donné l'impression de voyager à travers 
         l'Afrique sans quitter Paris. Les tenues étaient magnifiques et les mets délicieux. 
         J'attends avec impatience la prochaine édition !"
      </p>
			<div class="details">
			<span class="author">Claire</span>
			</div>
		  </div>
		</div>
	</section>
    </div>
  </div>
</section>
<!--/Conference Testimonial--> 

<!--Conference FAQ-->
<section id="faq" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Foire aux Questions</h2>
              <p>Venez nombreux soutenir l'artisanat africain !</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel-group faq_group" id="accordion" role="tablist" aria-multiselectable="true"> 
            <!--FAQ-1-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title"> <a role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Qu'est-ce que la Foire d'Afrique Paris ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>C'est un événement créé par l'association Dream Team 
                    Africa pour mettre en lumière la richesse culturelle et 
                    artistique africaine à Paris. Elle sert de plateforme de
                     découverte et de partage autour des traditions et 
                     innovations africaines.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-2-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Qui est à l'origine de cette foire ?<span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>La Foire d'Afrique Paris a été mise sur pied par 
                    l'association Dream Team Africa, une équipe dynamique et 
                    passionnée ayant pour mission de promouvoir la culture 
                    africaine en France.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-3-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quand aura lieu la Foire d'Afrique Paris en 2023 ?<span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h id="submit"4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    La Foire d'Afrique Paris se déroulera les 02, 03, 04 Août 2024
                     à l'espace MAS, Paris.
                  </p>
                 
                </div>
              </div>
            </div>
             <!--FAQ-4-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Y a-t-il d'autres événements associés à cette foire prévus en 2023 ?<span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    Oui, l'année 2023 verra également la Fashion Week Africa Paris “Automne”, un spectacle dédié à la mode africaine, qui se tiendra du 29 au 30 septembre.
                  </p>
                </div>
              </div>
            </div>
            <!--FAQ-5-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Comment puis-je obtenir des informations sur les activités de la Foire d'Afrique Paris ?<span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>
                    Les intéressés peuvent suivre l'actualité de la Foire 
                    d'Afrique Paris et obtenir des réponses à leurs questions en 
                    consultant les différentes sections du site officiel, 
                    notamment la section FAQ.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference FAQ--> 
  
<!-- Blog -->
<section id="blog" class="section-padding">
  <div class="container">
    <div class="row">
      <!-- Heading -->
      <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>L'Afropéen</h2>
              <p>Le mag de la diaspora africiane</p>
            </div>
          </div>
        </div>
      <!-- /Heading --> 
      
      <div class="col-md-4 col-sm-4">
         <div class="blog_wrap">
	      	<div class="blog_img margin-btm-20">
                <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
            </div>
    	    <div class="blog_meta">
                <p>Posted on May 30, 2023</p>
            </div>
        	<h5><a href="#">How To Build Your Event Brand</a></h5>
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text.</p>
         </div>
      </div>
      
      <div class="col-md-4 col-sm-4">
         <div class="blog_wrap video_post">
	      	<div class="blog_img margin-btm-20">
                <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
            </div>
    	    <div class="blog_meta">
                <p>Posted on May 28, 2023</p>
            </div>
        	<h5><a href="#">How To Get Started In Event Planning</a></h5>
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text.</p>
         </div>
      </div>
      <div class="col-md-4 col-sm-4">
         <div class="blog_wrap">
	      	<div class="blog_img margin-btm-20">
                <a href="#"><img src="assets/images/800x510.jpg" alt="image"></a>
            </div>
    	    <div class="blog_meta">
                <p>Posted on Aug 30, 2023</p>
            </div>
        	<h5><a href="#">The standard chunk of Lorem Ipsum used since</a></h5>
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text.</p>
         </div>
      </div>
    </div>
  </div>
</section>
<!-- /Blog -->

<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Foire d'Afrique Paris</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris
              </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 


{% include "partials/payments_meta.html" %}

{% endblock body %} 





