{% extends 'base/vitrineBase.html' %}
{% load static %}


{% block body %}

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
				<h1>Prenez votre place ! </h1>
				<p>10 rue des terres au Curé Paris France</p>
				<p>Théâtre du Gymnase Paris</p>
				<P>38 Boulevard Bonne Nouvelle Paris <br> 
				  services@dreamteamafrica.com</P>
				<p>Venez nombreux même en famille, assister et participer à la 
					  transmission de la culture africaine aux plus jeunes publics ! 
				</p>
          
              </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 


<!--  About Section -->
<section id="about" class="section-padding">
	<div class="container">
	  <div class="row"> 
		<!-- Heading -->
		<div class="col-md-12">
		  <div class="heading-sec">
			<div class="section-header text-center">
			  <h2>L'Essence de la Culture Africaine à Paris</h2>
			  <p>Un événement pour célébrer la culture africaine et favoriser le brassage 
				culturel et économique entre l'Afrique, les Caraïbes et l'Europe !
			  </p>
			</div>
		  </div>
		</div>
		<!-- /Heading --> 
	  </div>
	  <div class="row">
		<div class="col-md-7 col-lg-6">
		  <div class="about-m-content">
			<h4>Foire d'Afrique Paris</h4>
			<h5> Vitrine des Innovations et Potentiels Transformateurs du Continent</h5>
			<p style="text-align: justify;">    
			  Un espace d'exposition qui met en avant les produits, services et innovations africains.
			  La Foire d'Afrique est un événement commercial qui offre une plateforme aux entreprises 
			  africaines pour présenter leurs produits et services. De l'agriculture à la technologie, 
			  cette foire est un incubateur d'idées et d'innovations qui ont le potentiel de transformer 
			  le continent.
			</p>
			<h4>Festival International du Cinéma Africain</h4>
			<h5>Un espace pour explorer le septième art africain et interagir avec ses professionnels.</h5>
			<p style="text-align: justify;">
			  Le Marché de Noël Africain à Paris, créé par l'association Dream Team Africa, va au-delà 
			  d'une simple célébration festive. C'est une occasion unique pour valoriser la richesse 
			  culturelle de l'Afrique. En flânant entre les stands, découvrez une multitude de trésors 
			  : de l'artisanat raffiné, des œuvres artistiques, des vêtements ornés de motifs wax 
			  éclatants et bien d'autres merveilles.
			</p>
		
		  </div>
		</div>
		<div class="col-md-5 col-lg-6">
		  <div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-4.png' %}" alt="image"> </div>
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-5.png' %}" alt="image"> </div>
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-6.png' %}" alt="image"> </div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- / About Section --> 

  <section id="timer_countdown" class="vc_row">
	<div class="col-sm-5 col-md-5  primary-bg vc_col">
		<div class="timer_wrap padding_50px text-center">
			<div id="demo" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ul class="carousel-indicators">
				  <li data-target="#demo" data-slide-to="0" class="active"></li>
				  <li data-target="#demo" data-slide-to="1"></li>
				  <li data-target="#demo" data-slide-to="2"></li>
				</ul>
			  
				<!-- The slideshow -->
				<div class="carousel-inner text-center">
					{% for event in events %}
						{% if forloop.first %}
						<div class="carousel-item active">
							<img src="{% static 'assets/images/marche-d-afrique-15.png' %}"  alt="Chicago">
							<div class="carousel-caption">
								<h3>{{event.name}}</h3>
								<p>{{event.date}}</p>
							</div>
						</div>
						{% else %}
						<div class="carousel-item">
							<img src="{% static 'assets/images/marche-d-afrique-15.png' %}"  alt="Chicago">
							<div class="carousel-caption">
								<h3>{{event.name}}</h3>
								<p>{{event.date}}</p>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- Left and right controls -->
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
				  <span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
				  <span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-sm-7 col-md-7 secondary-bg vc_col">
		<div class="timer_wrap padding_50px text-center">
			<div class="banner-form">
				<h3 style="color: black">Prenez votre place ! </h3>
				<!--Registration Form-->
				<form method="POST" class="formShamman" classname="ParticipationForm">
					{% csrf_token %}
					<div class="form-group select">
						<select name="evenement" class="form-control" required="">
							<option value="">Quel evenement vous interesse ?</option>
							{% for event in events %}
								<option value="{{event.id}}">{{event.name}} ({{event.price}}€)</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" name="quantite" min="1" value="1" placeholder="Nombre de place" required type="number">
					  </div> 
					<div class="form-group">
						<input class="form-control" name="fullname" placeholder="Nom et prénoms" required type="text">
					</div>
					<div class="form-group">
						<input class="form-control" name="email"  placeholder="Adresse email" required type="email">
					</div>
					<div class="form-group">
						<input class="form-control" name="contact" placeholder="Numero de téléphone" required type="text">
					</div>
					<div class="contact-btn-m text-center">
						<button class="btn btn-block" type="submit"> Payer mon ticket</button>
					</div>
				</form>
			<!--/Registration Form--> 
			</div>
		</div>
	</div>
  </section>

  <br><br>
<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>DreamTeam Africa</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 
 

{% endblock body %} 





