{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Fashion West Africa | Dream Team Africa{% endblock "title" %}

{% block body %}




<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
              <h1>Fashion Week Africa <br>06 Mars 2023</h1>
              <p>10 rue des terres au Curé Paris France</p>
              <p>11H00 - 20H00</p>
              <P>Info exposants <br> (+33) 7 82 80 18 52 <br> 
                service-client@dreamteamafrica.com</P>
              <p>Venez nombreux même en famille, assister et participer à la 
                    transmission de la culture africaine aux plus jeunes publics ! 
              </p>
              
                <a href="https://foiredafrique.fr/assets/images/marche-de-noel-Afrique-paris.pdf" class="btn margin-btm-20">Télécharger le flyer</a>
              </div>
            
          </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-4">
          {% include "./partials/form_participant.html" %}
        </div>
      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 

<!--Timer Countdown-->
<section id="timer_countdown" class="vc_row">
  <div class="col-sm-6 col-md-6  primary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <h5>Fashion Week Africa Paris</h5>
      <p class="conference_date">06 Août 2024 <br> Paris - France</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 secondary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <div class="timer">
        <h5>Fashion Week Africa</h5>
        <p>Réservez votre place maintenant</p>
        <div class="countdown styled"></div>
      </div>
    </div>
  </div>
</section>
<!--/Time Countdown--> 

<!--  About Section -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>La Splendeur de la Fashion Week Africa à Paris</h2>
            <h4>Découverte de la mode africaine en plein cœur de la capitale !</h4>
          </div>
        </div>
      </div>
      <!-- /Heading --> 
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="about-m-content">
          <h5>La Fashion Week Africa à Paris : Fusion entre Tradition et Modernité dans la Mode Africaine</h5>
          <p style="text-align: justify;">
            
            La Fashion Week Africa à Paris se distingue comme un événement majeur 
            célébrant la créativité, la diversité et le dynamisme de la mode africaine. 
            Chaque édition de cet événement rassemble des créateurs talentueux du 
            continent africain pour présenter leurs collections avant-gardistes, 
            alliant traditions ancestrales et modernité. L'événement offre une 
            plateforme unique où l'authenticité des tissus africains tels que 
            le wax et le kente fusionne avec des designs contemporains pour créer 
            des pièces à la fois intemporelles et actuelles.
          </p>
          <h5>La Fashion Week Africa à Paris : Au-delà des défilés, un forum de discussion sur 
            la durabilité et l'impact social de la mode africaine.</h5>
          <p style="text-align: justify;">
            En plus des défilés, la Fashion Week Africa à Paris est également 
            l'occasion de débats et de discussions sur l'impact de l'industrie 
            de la mode sur l'environnement et la société, en mettant en lumière 
            les initiatives en matière de durabilité dans la mode africaine. 
            Des designers aux activistes, divers intervenants échangent sur 
            les enjeux et les défis de l'industrie tout en explorant les 
            opportunités qu'offre la mode africaine sur la scène mondiale.
          </p>
          <h5>Paris salue l'empreinte africaine : Fusion culturelle et influence mondiale 
            lors de la Fashion Week Africa</h5>
          <p style="text-align: justify;">
            Au fil des ans, Paris, capitale mondiale de la mode, a reconnu et 
            célébré la contribution significative de l'Afrique à l'industrie de 
            la mode. La Fashion Week Africa à Paris n'est pas seulement une 
            célébration de la mode, mais aussi une affirmation de l'importance 
            croissante de l'Afrique dans le domaine de la création mondiale. 
            Elle symbolise la fusion des cultures et montre comment la mode 
            peut servir de pont entre différentes régions du monde.
          </p>
          <h4>6 Raisons Incontournables pour Assister à la Fashion Week Africa à Paris</h4>
          <ul class="list_style_none">
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Célébration de la Créativité Africaine</strong> : 
              Paris, capitale mondiale de la mode, reconnaît et célèbre la contribution significative de 
              l'Afrique à l'industrie de la mode, offrant une plateforme unique pour les créateurs africains.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Fusion Culturelle</strong> : C'est un événement qui
               symbolise la fusion des cultures, montrant comment la mode peut servir de pont entre différentes 
               régions du monde.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Évolution de la Mode Africaine</strong> : L'occasion 
              de suivre l'évolution de la mode africaine, avec des pays comme le Nigeria et l'Afrique du Sud 
              étant des acteurs clés.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Opportunités de Networking</strong> : Rencontrer 
              des acteurs clés de l'industrie, créateurs de émergents à des marques établies, ainsi que des 
              influenceurs et des décideurs.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Participation Internationale</strong> : La Fashion 
              Week Africa à Paris attire des participants du monde entier, y compris des gagnants de concours 
              qui ont l'opportunité de développer leur business.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Héritage et Tradition</strong> : Découvrez le 
              mélange unique de traditions ancestrales et moderne.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-2.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/jeux-olympique.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-4.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-5.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-6.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-3.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-4.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-2.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-2.png' %}" alt="image"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / About Section --> 

<!--  Conference info -->
<section class="our-conference section-padding parallex-bg">
  <div class="container">
    <div class="row">
      <div class="conference-m-box div_zindex">
        <div class="conf-icon-m">
		<div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-microphone"></i> <span class="summary">24 Prestations</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-ticket"></i> <span class="summary">+2800 Visiteurs</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-flag"></i> <span class="summary">+120 Eposants</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-calendar-check-o"></i> <span class="summary">2 Jours folles</span> </div>
          </div>
        </div>
		</div>
        <div class="resever-today text-center">
          <h2>Réservez votre place maintenant</h2>
          <a href="#home" class="btn btn-lg js-target-scroll">Booking Now</a> </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- / Conference info --> 

<!--Conference Gallery-->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-sec clearfix">
          <div class="section-header text-center">
            <h2>Des années d'expériences</h2>
            <p>Réservez dès maintenant vos billets pour participer à la plus belle 
              rencontre des artisans de la diversité !</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Event Gallery -->
    <div class="trigger section gutter-horizontal bg-gray gutter-vertical--m gutter-horizontal">
      <div class="customer-logos slider">
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
        
      </div>
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-9.png' %}">
      </div>
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
      </div>
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-12.png' %}">
      </div>
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-13.png' %}">
      </div>
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
      </div>
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
      </div>
      <div class="slide-in-right slide">
        <div class="overlay"></div>
        <img src="{% static 'assets/images/marche-d-afrique-16.png' %}">
      </div>
      </div>
    </div>
      <!-- /Event Gallery --> 
      
    </div>
  </section>
<!--/Conference Gallery--> 

<!--Conference Pricing-->
{% include "./partials/price_stand.html" %}
<!--/Conference Pricing--> 

<!--Conference Testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h4>Ce qu'ils disent de nous !</h4>
            <p>Leurs Avis !</p>
          </div>
        </div>
      </div>
      <!-- /Heading -->
      
      <section class="testimonial-section">
		<div class="testimonials">
		  <div class="testimonial">
      <h4>Un véritable voyage culturel !</h4>
			<p>"La Fashion Week Africa à Paris est une expérience exceptionnelle. Elle m'a 
        offert un aperçu profond et authentique des talents émergents du continent 
        africain. J'ai été particulièrement impressionnée par la fusion des traditions 
        ancestrales avec les tendances contemporaines."
      </p>
			<div class="details">
			<span class="author">Sophie Leroux</span>
			</div>
		  </div>
      <div class="testimonial">
        <h4>Innovation et tradition à l'honneur !</h4>
			<p>"Chaque édition de la Fashion Week Africa à Paris me surprend toujours.
         L'ingéniosité des créateurs est à couper le souffle, et j'admire la 
         manière dont ils intègrent la riche histoire africaine dans des designs 
         modernes. C'est une célébration de la diversité et de l'innovation."
      </p>
			<div class="details">
			<span class="author">Omar Bensalem</span>
			</div>
		  </div>
		  <div class="testimonial">
        <h4>Une plateforme essentielle pour la mode africaine !</h4>
			<p>
        "La Fashion Week Africa à Paris est bien plus qu'un simple événement de 
        mode. C'est un espace où l'Afrique brille, raconte ses histoires et montre 
        au monde son immense potentiel. Je suis toujours ému par la passion et la 
        détermination des designers participants."
      </p>
			<div class="details">
			<span class="author">Isabelle Moretti
      </span>
			</div>
		  </div>
		</div>
	</section>
    </div>
  </div>
</section>
<!--/Conference Testimonial--> 

<!--Conference FAQ-->
<section id="faq" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h4>Foire aux Questions</h4>
              <p>Venez nombreux soutenir la mode africain !</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel-group faq_group" id="accordion" role="tablist" aria-multiselectable="true"> 
            <!--FAQ-1-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h5 class="panel-title"> <a role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Qu'est-ce que la Fashion Week Africa à Paris?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>C'est un événement qui met en avant les créateurs, designers et talents du continent 
                    africain en les présentant sur la prestigieuse scène de la mode parisienne.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-2-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h5 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Comment la Fashion Week Africa à Paris se distingue-t-elle des autres Fashion Weeks?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h5>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>Elle se concentre spécifiquement sur la promotion des talents et designs africains, 
                    fusionnant les traditions ancestrales du continent avec les tendances contemporaines 
                    de la mode mondiale.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-3-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h5 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quelle est la signification de cet événement pour les créateurs africains?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h5>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    La Fashion Week Africa à Paris offre une plateforme internationale aux créateurs africains, 
                    leur permettant d'accéder à une audience plus large et de se connecter avec des 
                    professionnels de l'industrie de la mode à un niveau mondial.
                  </p>
                 
                </div>
              </div>
            </div>
             <!--FAQ-4-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h5 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">La Fashion Week Africa à Paris est-elle une initiative récente?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h5>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    Bien que la mode africaine ait toujours eu une influence sur la scène mondiale, 
                    la reconnaissance spécifique et les événements dédiés à Paris ont gagné en popularité
                     au cours des dernières années, reflétant une prise de conscience croissante de la 
                     richesse et de la diversité des talents africains.
                  </p>
                </div>
              </div>
            </div>
            <!--FAQ-5-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h5 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Qui sont quelques-uns des lauréats notables de l'Africa Fashion Up?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h5>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>
                    Parmi les lauréats de l'Africa Fashion Up, on trouve des créateurs ou stylistes africains !
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference FAQ--> 
  
<!-- Blog -->
{% include "./partials/blogs.html" %}
<!-- /Blog -->

<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Fashion Week Africa</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris
              </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 
 



{% endblock body %} 





