{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Dream Team Africa{% endblock "title" %}
{% block body %}

<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
              <h1>Vivez la Culture africaine à Paris <br>
              "Marché de Noël d'Afrique"</h1>
              <p>10 rue des terres au Curé Paris France</p>
              <p>11H00 - 22H00</p>
              <P>Info exposants <br> (+33) 7 82 80 18 52 <br> 
                service-client@dreamteamafrica.com</P>
              <p>Venez nombreux même en famille, assister et participer à la 
                    transmission de la culture africaine aux plus jeunes publics !</p>
              
                <a href="https://foiredafrique.fr/assets/images/marche-de-noel-Afrique-paris.pdf" class="btn margin-btm-20">Télécharger le flyer</a>
              </div>
            
          </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-4">
          <div class="banner-form">
            <h5 class="text-center">Réservez votre place</h5>
            <!--Registration Form-->
              <form method="POST" class="formShamman" classname="ParticipationForm">
                  {% csrf_token %}
                  <div class="form-group">
                    <input class="form-control" name="fullname" id="fullname" placeholder="Nom et prénoms" required type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="email"  placeholder="Adresse email" required type="email">
                  </div>
                  <div class="form-group">
                    <input class="form-control" name="contact" placeholder="Numero de téléphone" required type="text">
                  </div>               
                  <div class="form-group select">
                    <select name="evenement" class="form-control" required="">
                      <option value="">Quel evenement vous interesse ?</option>
                      {% for event in events %}
                        <option value="{{event.id}}">{{event.name}} ({{event.price}}) €</option>
                      {% endfor %}
                    </select>
                  </div><br>
                 
                  <div class="contact-btn-m text-center">
                      <button class="btn btn-block">
                        <span id="button-text">Réservez maintenant !</span>
                      </button>
                  </div>
               
              </form>
            <!--/Registration Form--> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 

<!--Timer Countdown-->
<section id="timer_countdown" class="vc_row">
  <div class="col-sm-6 col-md-6  primary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <h5>Marché Noël d'Afrique Paris</h5>
      <p class="conference_date">17 - 18 Novembre 2023 <br> Paris - France</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 secondary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <div class="timer">
        <h5>Marché Noël d'Afrique Paris</h5>
        <p>Réservez votre place maintenant</p>
        <div class="countdown styled"></div>
      </div>
    </div>
  </div>
</section>
<!--/Time Countdown--> 

<!--  About Section -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>L'Essence de la Culture Africaine à Paris</h2>
            <p>Un événement pour célébrer la culture africaine et favoriser le brassage 
              culturel et économique entre l'Afrique, les Caraïbes et l'Europe !
            </p>
          </div>
        </div>
      </div>
      <!-- /Heading --> 
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="about-m-content">
          <h4>Foire d'Afrique Paris</h4>
          <h5> Vitrine des Innovations et Potentiels Transformateurs du Continent</h5>
          <p style="text-align: justify;">    
            Un espace d'exposition qui met en avant les produits, services et innovations africains.
            La Foire d'Afrique est un événement commercial qui offre une plateforme aux entreprises 
            africaines pour présenter leurs produits et services. De l'agriculture à la technologie, 
            cette foire est un incubateur d'idées et d'innovations qui ont le potentiel de transformer 
            le continent.
          </p>
          <h4>Festival International du Cinéma Africain</h4>
          <h5>Un espace pour explorer le septième art africain et interagir avec ses professionnels.</h5>
          <p style="text-align: justify;">
            Le Marché de Noël Africain à Paris, créé par l'association Dream Team Africa, va au-delà 
            d'une simple célébration festive. C'est une occasion unique pour valoriser la richesse 
            culturelle de l'Afrique. En flânant entre les stands, découvrez une multitude de trésors 
            : de l'artisanat raffiné, des œuvres artistiques, des vêtements ornés de motifs wax 
            éclatants et bien d'autres merveilles.
          </p>
          <h4>Festival International du Cinéma Africain</h4>
          <p style="text-align: justify;">
            Une plateforme pour découvrir le cinéma africain et se connecter avec les acteurs du secteur.
            Le Festival International du Cinéma Africain est une occasion en or pour les cinéphiles de 
            découvrir des films qui ne sont généralement pas accessibles via les canaux de diffusion 
            classiques. Il permet également aux réalisateurs, producteurs et autres professionnels du 
            secteur de se réseauter et de partager des idées.

          </p>
          <h4>African Fashion Cook </h4>
          <h5>Le Carrefour de la Cuisine Africaine et de l'Innovation</h5>
          <p style="text-align: justify;">
            Une plateforme pour découvrir la cuisine et se connecter avec les acteurs du secteur.
             African Fashion Cook est une occasion en or pour les adorateurs de la cuisine africaine 
             de découvrir des mets qui ne sont généralement pas accessibles via les canaux de diffusion 
             classiques. Il permet également aux chefs cuisiniers, producteurs et autres professionnels 
             du secteur de la restauration et de partager des idées.
          </p>
          <h4>Juste Une Danse</h4>
          <h5>La Fusion des Danses Urbaines et de la Culture Citadine</h5>
          <p style="text-align: justify;">
            Juste Une Danse est un festival culturel conçu pour faire découvrir les divers styles
             de danses urbaines et offrir une plateforme de rencontre entre les artistes émergents 
             et les acteurs du secteur. Cet événement ne se limite pas à une simple représentation 
             de talents, mais vise également à créer une synergie entre l'art et l'espace urbain. 
             Il offre ainsi une nouvelle façon d'envisager et de revivifier notre rapport à l'espace
              public tout en enrichissant la culture urbaine. Le festival propose un éventail de 
              styles allant de l'afro-danse au modern-jazz, en passant par le hip-hop.
          </p>
          <br>
          <h4>Le rendez-vous officiel de la diaspora africain</h4>
          <ul class="list_style_none">
            <li style="text-align: justify;"><i class="fa fa-check-circle" aria-hidden="true"></i>
              <strong>Diversité Culturelle :</strong> Chaque 
              événement organisé par la Dream Team Africa, que ce soit la Fashion Week ou le Festival International 
              du Cinéma Africain, offre une immersion profonde dans la riche diversité de la culture africaine, 
              permettant aux participants de comprendre et d'apprécier les multiples facettes de ce continent.</li>
              <br>
              <li style="text-align: justify;"><i class="fa fa-check-circle" aria-hidden="true"></i>
                <strong>Rencontres Inestimables :</strong> Les 
              événements comme "Juste Une Danse" et "Fashion Cook" offrent une plateforme unique pour se connecter avec 
              des artistes émergents, des chefs cuisiniers talentueux et d'autres professionnels du secteur, créant 
              des opportunités de réseautage inestimables.</li>
              <br>
              <li style="text-align: justify;"><i class="fa fa-check-circle" aria-hidden="true"></i>
                <strong>Innovations et Tendances :</strong> En 
              assistant à des événements tels que la "Foire d'Afrique", les participants ont l'opportunité de découvrir 
              les dernières innovations, tendances et produits provenant du continent africain, qu'il s'agisse de 
              technologie, d'art ou de mode.</li>
              <br>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Expérience Gastronomique :</strong> "Fashion Cook" 
              et le "Marché de Noël Africain" offrent une occasion rare de savourer des mets africains authentiques, 
              souvent inaccessibles via les canaux de diffusion classiques.</li>
              <br>
              <li style="text-align: justify;"><i class="fa fa-check-circle" aria-hidden="true"></i>
                <strong>Promotion de l'Art Africain :</strong> Les événements 
              comme la "Fashion Week" et le "Festival International du Cinéma Africain" mettent en lumière les 
              talents artistiques africains, offrant une plateforme pour que les créateurs et les cinéastes du 
              continent brillent sur la scène internationale.</li>
              <br>
            <li style="text-align: justify;"><i class="fa fa-check-circle" aria-hidden="true"></i>
</i><strong>Engagement Social et Communautaire :</strong> Participer 
              à ces événements, c'est soutenir la mission de la Dream Team Africa de promouvoir et de célébrer la 
              culture africaine, tout en contribuant à des initiatives communautaires et sociales visant à enrichir 
              et à renforcer la diaspora africaine.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-2.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/jeux-olympique.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-4.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-5.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-6.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-3.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-4.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-2.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-2.png' %}" alt="image"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / About Section --> 

<!--  Conference info -->
<section class="our-conference section-padding parallex-bg">
  <div class="container">
    <div class="row">
      <div class="conference-m-box div_zindex">
        <div class="conf-icon-m">
		<div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-microphone"></i> <span class="summary">24 Prestations</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-ticket"></i> <span class="summary">+2800 Visiteurs</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-flag"></i> <span class="summary">+120 Eposants</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-calendar-check-o"></i> <span class="summary">2 Jours folles</span> </div>
          </div>
        </div>
		</div>
        <div class="resever-today text-center">
          <h2>Réservez votre place maintenant</h2>
          <a href="#home" class="btn btn-lg js-target-scroll">Booking Now</a> </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- / Conference info --> 

<!--Conference Gallery-->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-sec clearfix">
          <div class="section-header text-center">
            <h2>Des années d'expériences</h2>
            <p>Réservez dès maintenant vos billets pour participer à la plus belle 
              rencontre des artisans de la diversité !</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Event Gallery -->
    <div class="trigger section gutter-horizontal bg-gray gutter-vertical--m gutter-horizontal">
	  <div class="customer-logos slider">
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
			
		</div>
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-9.png' %}">
		</div>
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
		</div>
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-12.png' %}">
		</div>
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-13.png' %}">
		</div>
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
		</div>
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
		</div>
		<div class="slide-in-right slide">
			<div class="overlay"></div>
			<img src="{% static 'assets/images/marche-d-afrique-16.png' %}">
		</div>
		</div>
	</div>
    <!-- /Event Gallery --> 
    
  </div>
</section>
<!--/Conference Gallery--> 

<!--Conference Pricing-->
<section id="pricing" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Tarifs exposants</h2>
              <p>Réservez vos stands</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="event_priceing">
            <div class="plan_name">
              <h6>Pack Artisans</h6>
            </div>
            <div class="plan_price">
              <p>200 €/J</p>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Café</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 badges exposants</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 chaises</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>1 Table (1,50 x 0,60)</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>Kit exposant 2 m2</li>
            </ul>
            <a href="#home" class="btn btn-block js-target-scroll">Prendre RDV</a> </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="event_priceing">
            <div class="plan_name">
              <h6>Pack Restauration</h6>
            </div>
            <div class="plan_price">
              <p>300€/J</p>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i>Café ou Thé</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 badges exposants</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>2 chaises</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>1 Table (2,50 x 0,80)</li>
              <li><i class="fa fa-times" aria-hidden="true"></i>Kit exposant 6 m2</li>
            </ul>
            <a href="#home" class="btn btn-block js-target-scroll">Prendre RDV</a> </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="event_priceing">
            <div class="plan_name">
              <h6>Partenariat</h6>
            </div>
            <div class="plan_price">
              <p>Nous contacter</p>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
              <li><i class="fa fa-check" aria-hidden="true"></i></li>
            </ul>
            <a href="#home" class="btn btn-block js-target-scroll">Prendre RDV</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Pricing--> 

<!--Conference Testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Ce qu'ils disent de nous !</h2>
            <p>Leurs Avis !</p>
          </div>
        </div>
      </div>
      <!-- /Heading -->
      
      <section class="testimonial-section">
		<div class="testimonials">
		  <div class="testimonial">
      <h2>Un voyage gustatif en plein Paris !</h2>
			<p>“Je n'avais jamais vu une telle diversité de saveurs et de couleurs en 
        un seul endroit ! Le marché de Noël africain à Paris m'a transporté 
        au cœur du continent africain. J'ai découvert des épices que je 
        n'avais jamais goûtées, et les objets artisanaux sont de véritables 
        œuvres d'art. Un vrai moment d'évasion ! ”
      </p>
			<div class="details">
			<span class="author">Makossa</span>
			</div>
		  </div>
      <div class="testimonial">
        <h2>Rencontre avec l'authenticité africaine</h2>
			<p>“C'était mon premier marché de Noël africain à Paris, et sûrement pas
         le dernier ! L'accueil chaleureux des artisans, les bijoux faits 
         main et les textiles aux motifs traditionnels ont enrichi mon 
         expérience des fêtes de fin d'année. Un lieu à recommander pour 
         ceux qui cherchent des cadeaux authentiques.”
      </p>
			<div class="details">
			<span class="author">Fatoumata</span>
			</div>
		  </div>
		  <div class="testimonial">
        <h2>Rythmes et saveurs d'Afrique à portée de main</h2>
			<p>
        “Les performances musicales m'ont fait vibrer au son des tambours et 
        des chants traditionnels. Entre les étals gourmands et les stands 
        d'artisanat, chaque pas sur ce marché était une nouvelle découverte. 
        Pour un Parisien comme moi, ce marché de Noël africain a été une 
        bouffée d'air frais et de culture en cette saison hivernale. Bravo !”
      </p>
			<div class="details">
			<span class="author">Audrey</span>
			</div>
		  </div>
		</div>
	</section>
    </div>
  </div>
</section>
<!--/Conference Testimonial--> 

<!--Conference FAQ-->
<section id="faq" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Foire aux Questions</h2>
              <p>Venez nombreux soutenir l'artisanat africain !</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel-group faq_group" id="accordion" role="tablist" aria-multiselectable="true"> 
            <!--FAQ-1-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title"> <a role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Qu'est-ce qui rend les marchés de Noël africains uniques? <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>Contrairement aux marchés traditionnels, les marchés de Noël 
                    africains offrent une palette vibrante de cultures, des produits
                     artisanaux authentiques et des expériences culinaires exotiques 
                     qui vous transportent au cœur de l'Afrique.</p>
                </div>
              </div>
            </div>
            
            <!--FAQ-2-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Y a-t-il des produits spécifiques que l'on peut trouver uniquement sur les marchés de Noël africains ? <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>Absolument! Vous y découvrirez des objets d'art faits à la main, 
                    des bijoux traditionnels, des textiles uniques et des épices 
                    indigènes que vous ne trouverez nulle part ailleurs.</p>
                </div>
              </div>
            </div>
            
            <!--FAQ-3-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Pourquoi est-il important de soutenir les artisans africains lors de ces marchés ? <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>En achetant directement auprès des artisans, vous contribuez non seulement 
                    à soutenir leur métier et leur famille, mais vous valorisez également le 
                    patrimoine culturel et artistique de l'Afrique.</p>
                 
                </div>
              </div>
            </div>
             <!--FAQ-4-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quelles sont les activités à ne pas manquer lors de la visite d'un marché de Noël africain ? <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>Outre le shopping, ne manquez pas les performances musicales 
                    en direct, les démonstrations artisanales et les stands de 
                    nourriture pour déguster des mets africains authentiques.</p>
                </div>
              </div>
            </div>
            <!--FAQ-5-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Pourquoi devrais-je choisir un marché de Noël africain plutôt qu'un autre marché local ?<span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>Les marchés de Noël africains offrent une occasion unique de 
                    s'immerger dans la richesse culturelle de l'Afrique, tout en trouvant
                     des cadeaux uniques et en soutenant directement les artisans 
                     locaux.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference FAQ--> 
  

<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>La Culture Africaine à Paris</h2>
              <p>Venez soutenir les artisans de la diversité !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris
              </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">service-client@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 
            

<script>
  $('.bxslider').bxSlider({
    autoHover: true,
    auto: true,
    slideWidth: 250,
    minSlides: 1,
    maxSlides: 4,
    controls: false,
    pager: true,
    speed: 500,
    captions: true,
    slideMargin: 5,
  });
  </script>
  

{% endblock body %} 