{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Juste une danse | Dream Team Africa{% endblock "title" %}

{% block body %}



<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
              <h1>Festival des Danses Urbaines ! <br>17 Février 2024</h1>
              <p>10 rue des terres au Curé Paris France</p>
              <p>Théâtre du Gymnase Paris</p>
              <P>38 Boulevard Bonne Nouvelle Paris <br> 
                services@dreamteamafrica.com</P>
              <p>Venez nombreux même en famille, assister et participer à la 
                    transmission de la culture africaine aux plus jeunes publics ! 
              </p>
              
                <a href="https://foiredafrique.fr/assets/images/marche-de-noel-Afrique-paris.pdf" class="btn margin-btm-20">Télécharger le flyer</a>
              </div>
            
          </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-4">
          {% include "./partials/form_participant.html" %}
        </div>
      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 

<!--Timer Countdown-->
<section id="timer_countdown" class="vc_row">
  <div class="col-sm-6 col-md-6  primary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <h5>Festival des Danses Urbaines</h5>
      <p class="conference_date">17 Février 2024<br> Paris - France</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 secondary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <div class="timer">
        <h5>Festival des Danses Urbaines</h5>
        <p>Réservez votre place maintenant</p>
        <div class="countdown styled"></div>
      </div>
    </div>
  </div>
</section>
<!--/Time Countdown--> 

<!--  About Section -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Juste une danse, la fête de la culture urbaine</h2>
            <h5>Un rendez-vous incontournable de la culture urbaine</h5>
          </div>
        </div>
      </div>
      <!-- /Heading --> 
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="about-m-content">
          <p style="text-align: justify;">
            
            "Juste Une Danse" s'annonce comme le rendez-vous incontournable des 
            passionnés de danses urbaines à Paris, prévu pour le 17 février 2024. 
            Ce festival rassemblera des talents de tout horizon, témoignant de la 
            richesse et de la diversité des danses urbaines. Qu'il s'agisse de 
            breakdance, de krump, de dancehall ou de voguing, chaque style aura 
            sa place, offrant au public une expérience immersive au cœur de la 
            culture urbaine.
          </p>
          <p style="text-align: justify;">
            L'événement se tiendra au cœur de la capitale, une ville reconnue pour 
            son dynamisme culturel et artistique. Les participants pourront assister 
            à des batailles épiques, des performances à couper le souffle et des 
            ateliers interactifs. Ces moments forts promettent d'être des instants 
            de partage, de découverte et de célébration de l'art de la danse urbaine.
          </p>
          <p style="text-align: justify;">
            Les organisateurs du festival ont souligné l'importance de cet événement 
            dans la promotion des arts urbains. En effet, "Juste Une Danse" n'est pas 
            seulement une vitrine pour les talents émergents, mais aussi une plateforme
             d'échange pour les professionnels, les amateurs et les novices. Avec une 
             telle diversité de danses et de talents présentés, le festival promet d'être 
             un moment fort du calendrier culturel parisien en 2024.
          </p>
          <h4>Le rendez-vous officiel de la danse urbaine</h4>
          <ul class="list_style_none">
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Découverte de la richesse des danses urbaines</strong> :
               Le festival offre une plateforme pour différents styles de danse urbaine, du breakdance au krump.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Opportunité d'interaction</strong> : Les participants
               auront l'occasion d'assister à des battles, des performances et des ateliers interactifs.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Promotion des arts urbains</strong> : Le festival met 
              en avant tant les talents émergents que les professionnels établis dans le monde de la danse urbaine</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Bienfaits de la danse</strong> : Au-delà du 
              spectacle, la danse est une discipline qui apporte d'immenses satisfactions, tant sur le plan 
              physique que mental</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Vibrer au rythme de la culture urbaine</strong> : 
              Le festival est une célébration de la culture hip-hop à travers la danse</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Rencontres et échanges</strong> : C'est l'occasion 
              de rencontrer des passionnés et des professionnels, d'échanger et de créer des liens dans la 
              communauté de la danse.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-1.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-2.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-3.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-4.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-5.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-6.png" alt="image"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / About Section --> 

<!--  Conference info -->
<section class="our-conference section-padding parallex-bg">
  <div class="container">
    <div class="row">
      <div class="conference-m-box div_zindex">
        <div class="conf-icon-m">
		<div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-microphone"></i> <span class="summary">24 Prestations</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-ticket"></i> <span class="summary">+2800 Visiteurs</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-flag"></i> <span class="summary">+120 Eposants</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-calendar-check-o"></i> <span class="summary">2 Jours folles</span> </div>
          </div>
        </div>
		</div>
        <div class="resever-today text-center">
          <h2>Réservez votre place maintenant</h2>
          <a href="#home" class="btn btn-lg js-target-scroll">Booking Now</a> </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- / Conference info --> 

<!--Conference Gallery-->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-sec clearfix">
          <div class="section-header text-center">
            <h2>Des années d'expériences</h2>
            <p>Réservez dès maintenant vos billets pour participer à la plus belle 
              rencontre des artisans de la diversité !</p>
          </div>
        </div>
      </div>
    </div>
    
 <!-- Event Gallery -->
 <div class="trigger section gutter-horizontal bg-gray gutter-vertical--m gutter-horizontal">
  <div class="customer-logos slider">
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
    
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-9.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-12.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-13.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-16.png' %}">
  </div>
  </div>
</div>
  <!-- /Event Gallery --> 
  
    
  </div>
</section>
<!--/Conference Gallery--> 

<!--Conference Pricing-->
{% include "./partials/price_stand.html" %}
<!--/Conference Pricing--> 

<!--Conference Testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Ce qu'ils disent de nous !</h2>
            <p>Leurs Avis !</p>
          </div>
        </div>
      </div>
      <!-- /Heading -->
      
      <section class="testimonial-section">
		<div class="testimonials">
		  <div class="testimonial">
      <h2>Une expérience inoubliable !</h2>
			<p>"J'ai assisté pour la première fois au festival de danse et j'ai été complètement émerveillée. 
        La diversité des performances et la passion des danseurs m'ont vraiment touchée. Je le recommande
         à tous les amateurs de danse et même à ceux qui veulent découvrir ce monde."
      </p>
			<div class="details">
			<span class="author">Sophie</span>
			</div>
		  </div>
      <div class="testimonial">
        <h2>Éblouissant et inspirant !</h2>
			<p>"Chaque année, je suis de plus en plus impressionné par le talent présenté au festival. 
        La fusion entre la danse urbaine et contemporaine est tout simplement spectaculaire. 
        Un rendez-vous à ne pas manquer pour les amoureux de la culture."
      </p>
			<div class="details">
			<span class="author">Thomas</span>
			</div>
		  </div>
		  <div class="testimonial">
        <h2>Un moment magique !</h2>
			<p>
        "La mise en scène, la musique, les chorégraphies... tout était parfait ! Le festival m'a 
        fait voyager à travers différentes cultures et m'a ouvert à de nouveaux horizons 
        artistiques. Une expérience que je renouvellerai sans hésiter. "
      </p>
			<div class="details">
			<span class="author">Nadia</span>
			</div>
		  </div>
		</div>
	</section>
    </div>
  </div>
</section>
<!--/Conference Testimonial--> 

<!--Conference FAQ-->
<section id="faq" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Foire aux Questions</h2>
              <p>Venez nombreux soutenir le festival des danses urbaines !</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel-group faq_group" id="accordion" role="tablist" aria-multiselectable="true"> 
            <!--FAQ-1-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title"> <a role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Qu'est-ce que le festival "Juste une danse" ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>Le festival "Juste une danse" est un événement dédié aux danses urbaines. Les 
                    références précises ne sont pas mentionnées dans les résultats de recherche, mais
                     les danses urbaines comprennent généralement des styles tels que le hip-hop, le 
                     breakdance et d'autres formes influencées par la culture urbaine.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-2-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Où se déroule le festival ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>Bien que le nom « Juste une danse » ne soit pas précisé, des festivals de danses 
                    urbaines ont lieu dans différentes régions, notamment à Genève et à Paris.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-3-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quels sont les principaux objectifs du festival ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    Le festival vise à célébrer, promouvoir et diffuser les cultures urbaines et à fournir 
                    une plateforme pour les danseurs urbains pour montrer leur talent.
                  </p>
                 
                </div>
              </div>
            </div>
             <!--FAQ-4-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Qui sont les principaux organisateurs ou intervenants du festival ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    Il y a plusieurs organisateurs de festivals de danses urbaines. Par exemple, Sébastien 
                    Boucher est le directeur du Festival Groove'N'Move à Genève.
                  </p>
                </div>
              </div>
            </div>
            <!--FAQ-5-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Comment le festival contribue-t-il à la professionnalisation des danses urbaines ?<span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>
                    Le festival offre aux danseurs urbains une plateforme pour se produire devant un large public, 
                    ce qui peut conduire à une plus grande reconnaissance et à des opportunités professionnelles. 
                    De plus, des discussions sur la professionnalisation de ces danses ont lieu dans le contexte 
                    des festivals.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference FAQ--> 
  

<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Foire d'Afrique Paris</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris
              </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 

            


{% endblock body %} 


