{% extends 'base/vitrineBase.html' %}
{% load static %}

{% block "title" %}Marché de Noël Africain | Dream Team Africa{% endblock "title" %}

{% block body %}


<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
              <h1>Marché de Noël d'Afrique Paris <br>17 & 18 novembre 2023</h1>
              <p>10 rue des terres au Curé Paris France</p>
              <p>11H00 - 22H00</p>
              <P>Info exposants <br> (+33) 7 82 80 18 52 <br> 
                services@dreamteamafrica.com</P>
              <p>
                Venez nombreux même en famille, assister et participer à la 
                transmission de la culture africaine aux plus jeunes publics ! 
              </p>
              
                <a href="https://foiredafrique.fr/assets/images/marche-de-noel-Afrique-paris.pdf" class="btn margin-btm-20">Télécharger le flyer</a>
              </div>
            
          </div>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-4">
          {% include "./partials/form_participant.html" %}
        </div>
      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 

<!--Timer Countdown-->
<section id="timer_countdown" class="vc_row">
  <div class="col-sm-6 col-md-6  primary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <h5>Marché Noël d'Afrique Paris</h5>
      <p class="conference_date">17 & 18 novembre 2023<br> Paris - France</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 secondary-bg vc_col">
    <div class="timer_wrap padding_50px text-center">
      <div class="timer">
        <h5>Marché Noël d'Afrique Paris</h5>
        <p>Réservez votre place maintenant</p>
        <div class="countdown styled"></div>
      </div>
    </div>
  </div>
</section>
<!--/Time Countdown--> 

<!--  About Section -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Marché de Noël Africain à Paris <br> Une Célébration Culturelle Unique</h2>
            <h5>Découvrez l'artisanat, la mode, et la gastronomie africaine au cœur de la capitale française.</h5>
          </div>
        </div>
      </div>
      <!-- /Heading --> 
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="about-m-content">
          <h4>Une Célébration Culturelle en Europe</h4>
          <p style="text-align: justify;">
            Le marché de Noël africain est une représentation unique des traditions et du patrimoine 
            africain en plein cœur de l'Europe. Ces marchés offrent une opportunité d'explorer 
            l'artisanat africain, la mode, la décoration et, bien entendu, la gastronomie. Les 
            visiteurs peuvent s'attendre à une immersion complète dans la culture africaine, avec 
            des stands présentant des produits authentiques et des animations variées reflétant la 
            richesse des cultures africaines.
          </p>
          <h4>Une Fusion de Traditions</h4>
          <p style="text-align: justify;">
            Alors que la plupart des marchés de Noël en Europe se concentrent sur les traditions
             occidentales, le marché de Noël africain se distingue par sa capacité à fusionner 
             ces traditions avec celles de l'Afrique. L'espace est souvent rempli de décorations, 
             de littérature africaine et de vêtements qui représentent le continent dans toute sa 
             splendeur.
          </p>
          <h4>Un lieu de rencontre et d'échange</h4>
          <p style="text-align: justify;">
            Plus qu'un simple marché, le marché de Noël africain est un lieu de rencontre pour 
            ceux qui souhaitent célébrer et comprendre la culture africaine. C'est un espace où 
            les curieux peuvent se rencontrer, échanger et partager leurs expériences et leur 
            amour pour l'Afrique. Les organisateurs veillent souvent à ce que l'événement soit 
            non seulement une expérience d'achat, mais aussi une occasion d'apprentissage et de 
            partage culturel.
          </p>
          <h4>
            Le Marché de Noël Africain à Paris : Un Voyage Culturel en Plein Cœur de l'Hive !
          </h4>
          <ul class="list_style_none">
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Découverte Culturelle </strong> : Plongez-vous dans la richesse et la diversité des cultures africaines, à travers l'artisanat, la musique et les traditions.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Gastronomie Exotique</strong> : Goûtez aux saveurs africaines avec une variété de plats et de boissons traditionnelles qui éveilleront vos papilles.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Achats Uniques</strong> : Trouvez des cadeaux originaux et authentiques pour vos proches, allant des bijoux faits main aux vêtements traditionnels.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Animations et Performances</strong> : Appréciez les spectacles de musique, de danse et d'art, interprétés par des artistes talentueux venus directement d'Afrique.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Ateliers Éducatifs</strong> : Participez à des ateliers et des conférences pour en apprendre davantage sur l'histoire, l'art et la culture africaines.</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i><strong>Rencontres et Échanges</strong> : Profitez de cette occasion pour rencontrer des personnes partageant les mêmes intérêts, échanger des idées et créer des souvenirs inoubliables.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-1.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-2.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-3.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-4.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-5.png" alt="image"> </div>
          <div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="assets/images/marche-d-afrique-6.png" alt="image"> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / About Section --> 

<!--  Conference info -->
<section class="our-conference section-padding parallex-bg">
  <div class="container">
    <div class="row">
      <div class="conference-m-box div_zindex">
        <div class="conf-icon-m">
		<div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-microphone"></i> <span class="summary">24 Prestations</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-ticket"></i> <span class="summary">+2800 Visiteurs</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-flag"></i> <span class="summary">+120 Eposants</span> </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="spekers-tickets-info"> <i class="fa fa-calendar-check-o"></i> <span class="summary">2 Jours folles</span> </div>
          </div>
        </div>
		</div>
        <div class="resever-today text-center">
          <h2>Réservez votre place maintenant</h2>
          <a href="#home" class="btn btn-lg js-target-scroll">Booking Now</a> </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!-- / Conference info --> 

<!--Conference Gallery-->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-sec clearfix">
          <div class="section-header text-center">
            <h2>Des années d'expériences</h2>
            <p>Réservez dès maintenant vos billets pour participer à la plus belle 
              rencontre des artisans de la diversité !</p>
          </div>
        </div>
      </div>
    </div>
    
 <!-- Event Gallery -->
 <div class="trigger section gutter-horizontal bg-gray gutter-vertical--m gutter-horizontal">
  <div class="customer-logos slider">
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
    
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-9.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-12.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-13.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-10.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-15.png' %}">
  </div>
  <div class="slide-in-right slide">
    <div class="overlay"></div>
    <img src="{% static 'assets/images/marche-d-afrique-16.png' %}">
  </div>
  </div>
</div>
  <!-- /Event Gallery --> 
  
    
  </div>
</section>
<!--/Conference Gallery--> 

<!--Conference Pricing-->
{% include "./partials/price_stand.html" %}
<!--/Conference Pricing--> 

<!--Conference Testimonial-->
<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row"> 
      <!-- Heading -->
      <div class="col-md-12">
        <div class="heading-sec">
          <div class="section-header text-center">
            <h2>Ce qu'ils disent de nous !</h2>
            <p>Leurs Avis !</p>
          </div>
        </div>
      </div>
      <!-- /Heading -->
      
      <section class="testimonial-section">
		<div class="testimonials">
		  <div class="testimonial">
      <h2>Une expérience inoubliable !</h2>
			<p>"J'ai été émerveillée par la diversité et la richesse de la culture africaine 
        lors de ma visite au Marché de Noël Africain à Paris. Les bijoux, la mode et les 
        objets de décoration étaient uniques et magnifiques. Je reviendrai sûrement l'année prochaine!"
      </p>
			<div class="details">
			<span class="author">Fanta</span>
			</div>
		  </div>
      <div class="testimonial">
        <h2>Un voyage culinaire en Afrique !</h2>
			<p>"Les saveurs africaines présentes au marché m'ont transporté directement en Afrique. 
        C'était un vrai régal pour les papilles! Sans parler des animations et des performances 
        qui ont animé notre journée. À ne pas manquer !"
      </p>
			<div class="details">
			<span class="author">Ahmed</span>
			</div>
		  </div>
		  <div class="testimonial">
        <h2>La meilleure édition jusqu'à présent !</h2>
			<p>
        "C'était ma troisième visite au Marché de Noël Africain et je dois dire que la
         10ème édition a été la meilleure jusqu'à présent. L'organisation était au top 
         et j'ai pu découvrir de nouveaux artisans et leurs créations exceptionnelles. 
         Bravo à tous les organisateurs !"
      </p>
			<div class="details">
			<span class="author">Élyse</span>
			</div>
		  </div>
		</div>
	</section>
    </div>
  </div>
</section>
<!--/Conference Testimonial--> 

<!--Conference FAQ-->
<section id="faq" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Foire aux Questions</h2>
              <p>Venez nombreux soutenir l'artisanat africain !</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel-group faq_group" id="accordion" role="tablist" aria-multiselectable="true"> 
            <!--FAQ-1-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title"> <a role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Qu'est-ce que le Marché de Noël d'Afrique à Paris ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>C'est un événement qui rassemble des produits de créateurs africains et afro-descendants, 
                    organisé pour faire connaître et valoriser l'artisanat et la culture africaine lors de la 
                    période de Noël à Paris.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-2-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Qui organise le Marché de Noël Africain à Paris ?
                <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>L'association Dream Team Africa est l'une des entités responsables de la création de cet 
                    événement exceptionne.
                  </p>
                </div>
              </div>
            </div>
            
            <!--FAQ-3-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quels types de produits peut-on trouver sur le marché ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    Les visiteurs peuvent découvrir et acheter de l'artisanat africain et afro-caribéen, 
                    des bijoux et boîtes à bijoux en wax, ainsi que des produits de beauté naturels.
                  </p>
                 
                </div>
              </div>
            </div>
             <!--FAQ-4-->
             <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Où se déroule le Marché de Noël Africain à Paris ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>
                    Une des éditions s'est tenue au 10 Rue des Terres au Curé, 75013 Paris.
                  </p>
                </div>
              </div>
            </div>
            <!--FAQ-5-->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Pourquoi cet événement est-il important pour la communauté africaine à Paris ?
                  <span class="faq_control"> <i class="fa fa-plus-square" aria-hidden="true"></i> <i class="fa fa-minus-square" aria-hidden="true"></i> </span> </a> </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>
                    Il permet de mettre en avant et de célébrer la diversité culturelle et artisanale de 
                    l'Afrique, tout en offrant aux Parisiens et Franciliens l'opportunité d'offrir des 
                    cadeaux originaux et éco-responsables.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference FAQ--> 
  

<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Foire d'Afrique Paris</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris
              </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 
            
          


{% endblock body %} 






