{% extends 'base/vitrineBase.html' %}
{% load static %}


{% block body %}

<!-- Banners -->
<section id="banner" class="banner-section"> 
  <!-- Banner Tagline -->
  <div class="banner-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-8">
          <div class="banner-content">
            <div class="banner-tagline">
				<h1>Reservez votre Stand ! </h1>
				<p>10 rue des terres au Curé Paris France</p>
				<p>Théâtre du Gymnase Paris</p>
				<P>38 Boulevard Bonne Nouvelle Paris <br> 
				  services@dreamteamafrica.com</P>
				<p>Venez nombreux même en famille, assister et participer à la 
					  transmission de la culture africaine aux plus jeunes publics ! 
				</p>
          
              </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /Banners Tagline -->
  <div class="dark-layer"></div>
</section>
<!-- /Banners --> 


<!--  About Section -->
<section id="about" class="section-padding">
	<div class="container">
	  <div class="row"> 
		<!-- Heading -->
		<div class="col-md-12">
		  <div class="heading-sec">
			<div class="section-header text-center">
			  <h2>L'Essence de la Culture Africaine à Paris</h2>
			  <p>Un événement pour célébrer la culture africaine et favoriser le brassage 
				culturel et économique entre l'Afrique, les Caraïbes et l'Europe !
			  </p>
			</div>
		  </div>
		</div>
		<!-- /Heading --> 
	  </div>
	  <div class="row">
		<div class="col-md-7 col-lg-6">
		  <div class="about-m-content">
			<h4>Foire d'Afrique Paris</h4>
			<h5> Vitrine des Innovations et Potentiels Transformateurs du Continent</h5>
			<p style="text-align: justify;">    
			  Un espace d'exposition qui met en avant les produits, services et innovations africains.
			  La Foire d'Afrique est un événement commercial qui offre une plateforme aux entreprises 
			  africaines pour présenter leurs produits et services. De l'agriculture à la technologie, 
			  cette foire est un incubateur d'idées et d'innovations qui ont le potentiel de transformer 
			  le continent.
			</p>
			<h4>Festival International du Cinéma Africain</h4>
			<h5>Un espace pour explorer le septième art africain et interagir avec ses professionnels.</h5>
			<p style="text-align: justify;">
			  Le Marché de Noël Africain à Paris, créé par l'association Dream Team Africa, va au-delà 
			  d'une simple célébration festive. C'est une occasion unique pour valoriser la richesse 
			  culturelle de l'Afrique. En flânant entre les stands, découvrez une multitude de trésors 
			  : de l'artisanat raffiné, des œuvres artistiques, des vêtements ornés de motifs wax 
			  éclatants et bien d'autres merveilles.
			</p>
		
		  </div>
		</div>
		<div class="col-md-5 col-lg-6">
		  <div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-1.png' %}" alt="image"> </div>
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-4.png' %}" alt="image"> </div>
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-5.png' %}" alt="image"> </div>
			<div class="col-md-6 col-sm-6 col-xs-6 abut-event-img"> <img src="{% static 'assets/images/marche-d-afrique-6.png' %}" alt="image"> </div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- / About Section --> 

  <section id="timer_countdown" class="vc_row">
	<div class="col-sm-6 col-md-6  primary-bg vc_col">
		<div class="timer_wrap padding_50px text-center">
			<p class="conference_date">17 - 18 Novembre 2023 (Paris)</p>
			<h5>Marché Noël d'Afrique Paris</h5>
			
			<p class="conference_date">17 Février 202 (Paris)</p>
			<h5>Festival des Danses Urbaines</h5>
			
			<p class="conference_date">03 - 04 Août 2024 (Paris)</p>
			<h5>Festival African Fashion Cook</h5>
			
			<p class="conference_date">06 Mars 2024 (Paris)</p>
			<h5>Fashion Week Africa</h5>

			<p class="conference_date">06 Mars 2024 (Paris)</p>
			<h5>Festival International du Cinéma Africai</h5>
			
		</div>
	</div>
	<div class="col-sm-6 col-md-6 secondary-bg vc_col">
		<div class="timer_wrap padding_50px text-center">
				<div class="banner-form">
					<h3 style="color: black">Reservez votre Stand ! </h3>
					<!--Registration Form-->
					<form method="POST" class="formShamman" classname="ReservationStandForm">
						{% csrf_token %}
						<div class="form-group select">
							<select name="event" class="form-control" required="">
								<option value="">Quel evenement vous interesse ?</option>
								{% for event in events %}
									<option value="{{event.id}}">{{event.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<input class="form-control" name="payer_fname" id="fullname" placeholder="Nom et prénoms" required type="text">
						</div>
						<div class="form-group">
							<input class="form-control" name="email"  placeholder="Adresse email" required type="email">
						</div>
						<div class="form-group">
							<input class="form-control" name="contact" placeholder="Numero de téléphone" required type="text">
						</div>
						<div class="form-group">
							<input class="form-control" name="domaine" placeholder="Domaine d'activité" required type="text">
						</div>
						<div class="form-group">
							<textarea class="form-control" name="description" rows="5" placeholder="Décrivez en quelques mots en quoi consisteras votre participation ..." required ></textarea>
						</div>
						<div class="contact-btn-m text-center">
							<button class="btn btn-block" type="submit"> Valider ma demande</button>
						</div>
					</form>
				<!--/Registration Form--> 
				</div>
		</div>
	</div>
  </section>

  <br><br>
<!--Conference Venue-->
<section id="venue" class="section-padding parallex-bg white_text">
  <div class="container">
    <div class="div_zindex">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-sec clearfix">
            <div class="section-header text-center">
              <h2>Fashion Week Africa</h2>
              <p>Venez soutenir les artisans de la diversité culturel africaine !</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-phone" aria-hidden="true"></i>
            <p>(+33) 7 82 80 18 52</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>10 rue des terres au curé <br> 75 013 Paris </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="venue_info_box"> <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:support@domainname.com">services@dreamteamafrica.com</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-layer"></div>
</section>
<!--/Conference Venue--> 
 

{% endblock body %} 





